---
import { getCollection } from 'astro:content';

import BlogPost from '../../components/BlogPost.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';

const posts = await getCollection('posts');
---

<BaseLayout title="Posts" description="Posts">
  <h1>Posts</h1>
  <div>{posts.map((posts) => <BlogPost post={posts} />)}</div>
</BaseLayout>
