---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<BaseLayout title="Blog" description="Blog">
  <h1>Astro</h1>
  <div>{posts.map((post) => <BlogPost post={post} />)}</div>
</BaseLayout>
