---
import BaseLayout from '../layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';

const posts = await getCollection('blog');
---

<BaseLayout title="Blog" description="Blog">
  <h1>Astro</h1>
  <!-- <div>{posts.map((post) => <BlogPost blog={post} />)}</div> -->
</BaseLayout>
