---
import NewsletterInput from './NewsletterInput';
---

<div class="rounded-3xl bg-light-dark dark:bg-dark-dark p-3 text-center my-5">
  <p>If you liked my content, please subscribe to my newsletter</p>
  <p class="my-1">
    where you will get updates whenever I publish, and I promise we don't spam!
  </p>

  <NewsletterInput client:visible />
</div>
