---
import NewsletterInput from './NewsletterInput';
---

<div
  class="bg-light-dark dark:bg-dark-dark h-[360px] flex justify-center items-center"
>
  <div class="w-[1440px] m-auto">
    <h1 class="text-center">
      Welcome to <u>Code, Read, Succeed</u> blog
    </h1>
    <p class="text-center">
      Here you can find coding tips, productivity hacks, amazing book summaries
      and useful insights
    </p>
    <NewsletterInput client:load />
  </div>
</div>
