---
import NewsletterInput from './NewsletterInput';
---

<div
  class="bg-light-light dark:bg-dark-light flex justify-center items-center h-[350px]"
>
  <div>
    <h1 class="text-center mb-3">Welcome to <u>Code, Read, Succeed</u> blog</h1>
    <p
      class="text-center mb-4 w-[350px] sm:w-[500px] m-auto md:text-[20px] text-[18px]"
    >
      Here you can find coding tips, productivity hacks, amazing book summaries
      and useful insights
    </p>
    <NewsletterInput client:visible />
  </div>
</div>
